<script type="text/javascript">

(function(){

    var _storeData = [];
    var FORM_NAME = 'formulation-entry-form';
    var _link = "";
    var _error = false;

    var init = function()
    {
        Ext.QuickTips.init();

        var entryForm = new Ext.FormPanel({
            renderTo : 'formulation-entry-div',
            id       : FORM_NAME,
            autoHeight : true,
            width    : 235,
            border   : false,
            materialCount  : 0,
            stateful : false,
            frame    : false,
            defaults : {
                width : 130,
                style : { margin: '2 0 2 0' },
                listeners : {
                    invalid : function(field, msg) {
                        showMsg("> " + msg, true);
                    }
                }
            },
            items    : [
                {
                    xtype : 'textfield',
                    id    : 'Batch',
                    fieldLabel : 'Lot Number*',
                    allowBlank : false,
                    validateOnBlur : false,
                    invalidText : 'Lot number is required.'
                },{
                    xtype : 'datefield',
                    id    : 'DM',
                    fieldLabel : 'Date of Manufacture*',
                    allowBlank : false
                },{
                    xtype : 'numberfield',
                    id    : 'Batch Size',
                    fieldLabel : 'Batch Size (mL)'
                },{
                    xtype : 'textfield',
                    id    : 'NB Pg',
                    fieldLabel : 'NB Pg'
                },{
                    xtype           : 'combo',
                    id              : 'Formulation type',
                    fieldLabel      : 'Formulation Type*',
                    store           : new Ext.data.SimpleStore({
                        fields : ['td'],
                        data   : [
                            ['Emulsion'],['Aqueous'],
                            ['Powder'],['Liposome'],
                            ['Alum'],
                            ['Niosomes']]
                    }),
                    displayField : 'td',
                    valueField   : 'td',
                    triggerAction   : 'all',
                    forceSelection : true,
                    mode : 'local'
                },{
                    xtype : 'textarea',
                    id    : 'Comments',
                    fieldLabel : 'Comments'
                },{
                    xtype : 'checkbox',
                    id    : 'stabilityWatch',
                    fieldLabel : 'Stability Watch'
                }
            ],
            buttons : [
                {
                    xtype : 'button',
                    id   : 'add-mat-button',
                    text : 'Add Another Material',
                    handler : function() { addMaterialItem(true) }
                },{
                    xtype : 'button',
                    id    : 'new-formulation-submit-btn',
                    text  : 'Submit',
                    handler : submit
                }
            ],
            listeners : {
                render : function() {
                    addMaterialItem(false);
                }
            }
        });
    }

    var addMaterialItem = function(done)
    {
        if (!done)
        {
            var _store = new LABKEY.ext.Store({
                schemaName : 'exp',
                queryName  : 'Materials',
                sortInfo   : { field: 'Name', direction: 'ASC' },
                filterArray: [
                    LABKEY.Filter.create('SampleSet/Name','Raw Materials;Formulations',LABKEY.Filter.Types.EQUALS_ONE_OF)
                ]
            });

            var button = Ext.getCmp('add-mat-button');
            button.disable();
            button.setText('Retreiving Materials...');
            button = Ext.getCmp('new-formulation-submit-btn');
            button.disable();
            _store.load({
                callback : function(records, options, success)
                {
                    if (success)
                    {
                        _storeData = [];
                        for (var i = 0; i < records.length; i++)
                        {
                            var rec = [];
                            rec.push(records[i].data.Name);
                            _storeData.push(rec);
                        }
                        generateCombo();
                        var button = Ext.getCmp('add-mat-button');
                        button.setText('Add Another Material');
                        button.enable();
                        button = Ext.getCmp('new-formulation-submit-btn');
                        button.enable();
                    }
                }
            });
        }
        else
            generateCombo();
    }

    var generateCombo = function()
    {
        var form_panel = Ext.getCmp(FORM_NAME);
        form_panel.materialCount = form_panel.materialCount + 1;
        var count = form_panel.materialCount;
        var idx = 5 + count;
        var matBox = new Ext.form.ComboBox({
            id            : 'mat-' + count,
            fieldLabel    : 'Material #' + count + "*",
            store         : new Ext.data.SimpleStore({
                storeId    : 'materialStore',
                fields     : ['Name'],
                data       : _storeData
            }),
            triggerAction : 'all',
            displayField  : 'Name',
            valueField    : 'Name',
            mode          : 'local',
            forceSelection: true,
            invalidText   : 'Not a valid material.'
        });
        form_panel.insert(idx, matBox);
        form_panel.doLayout();
    }

    var submit = function()
    {
        showMsg("");
        var form = Ext.getCmp(FORM_NAME);

        if (!form.getForm().isValid())
            return;

        LABKEY.Query.selectRows({
            schemaName : 'exp',
            queryName  : 'Materials',
            filterArray : [ LABKEY.Filter.create('Name', document.getElementById('Batch').value, LABKEY.Filter.Types.EQUAL)],
            successCallback : function(data) {
                if (data.rowCount == 0)
                {
                    var mainParams = {};
                    mainParams['name'] = 'Formulations';
                    mainParams['importMoreSamples'] = true;
                    mainParams['insertUpdateChoice'] = "insertIgnore";

                    var header = "";
                    var data = "";
                    var mats = "";
                    var formValues = form.getForm().getValues(false);
                    var knownMats = [];

                    for (var value in formValues)
                    {
                        for (var i = 0; i < knownMats.length; i++)
                        {
                            if (knownMats[i] == formValues[value])
                            {
                                _error = true;
                                showMsg('You have duplicated at least one Raw Material. Please Verify.', _error);
                                return;
                            }
                        }

                        if (formValues[value].length > 0 && (value != "stabilityWatch"))
                        {
                            if (value.search("mat-") >= 0)
                            {
                                if (header.search("Raw Materials") < 0)
                                    header += "Raw Materials" + "\t";

                                if (mats.length == 0)
                                    mats += formValues[value];
                                else
                                    mats += ", " + formValues[value];
                            }
                            else
                            {
                                header += value + "\t";
                                data += formValues[value] + "\t";
                            }
                            knownMats.push(formValues[value]);
                        }
                    }
                    header += "\r\n" + data + mats + "\t\r\n";

                    mainParams['data'] = header;

                    Ext.Ajax.request({
                        method : 'POST',
                        url    : LABKEY.ActionURL.buildURL("experiment", "showUploadMaterials.view", LABKEY.ActionURL.getContainer(), mainParams),
                        headers : {
                            'Content-Type' : 'application/json'
                        },
                        success : function() {

                            LABKEY.Query.selectRows({
                                schemaName : 'exp',
                                queryName  : 'Materials',
                                filterArray : [ LABKEY.Filter.create('Name', document.getElementById('Batch').value, LABKEY.Filter.Types.EQUAL)],
                                successCallback : function(data) {
                                    if (data.rowCount > 0)
                                    {
                                        var mainParams = {};
                                        var row = data.rows[0];
                                        mainParams['rowId'] = row["RowId"].toString();
                                        _link = location.protocol + "//" + location.host + "/" + LABKEY.ActionURL.buildURL("experiment", "showMaterial.view", LABKEY.ActionURL.getContainer(), mainParams);

                                        showMsg('Formulation: ' + "<a href='" + _link + "'>" + document.getElementById('Batch').value + '</a> created successfully.');

                                        if (Ext.getCmp('stabilityWatch').getValue())
                                        {
                                            LABKEY.Security.getUsers({
                                                groupId : 1043, // 'Stability'
                                                successCallback : function(usersInfo, response)
                                                {
                                                    var users = usersInfo.users;
                                                    var recipients = [];
                                                    for (var i = 0; i < users.length; i++)
                                                        recipients.push(LABKEY.Message.createRecipient(LABKEY.Message.recipientType.to, users[i].email));

                                                    var val = document.getElementById('Batch').value;
                                                    LABKEY.Message.sendMessage({
                                                        msgFrom : 'ops@labkey.com',
                                                        msgSubject : 'Formulation added on LabKey',
                                                        msgRecipients : recipients,
                                                        msgContent : [
                                                            LABKEY.Message.createMsgContent(LABKEY.Message.msgType.html, "<h4>Stability Review Requested</h4>" +
                                                                    "Formulation : <a href='" + _link + "'>" + val + "</a> has been created.<br/><br/>IDRI LabKey Administration Team")
                                                        ],
                                                        successCallback : function(result) {
                                                            showMsg("Email(s) sent successfully.");
                                                        },
                                                        errorCallback : function(errorInfo, responseObj)
                                                        {
                                                            LABKEY.Utils.displayAjaxErrorResponse(responseObj, errorInfo);
                                                        }
                                                    });
                                                },
                                                errorCallback : function(errorInfo, response)
                                                {
                                                    showMsg(errorInfo, true);
                                                }
                                            });
                                        }
                                    }
                                    else
                                    {
                                        _error = true;
                                        showMsg('Failed to retrieve Sample', _error);
                                    }
                                },
                                errorCallback : function(){
                                    _error = true;
                                    showMsg('Failed to retrieve Sample', _error);
                                }
                            });
                        }
                    });
                }
                else
                {
                    var mainParams = {};
                    var row = data.rows[0];
                    mainParams['rowId'] = row["RowId"].toString();
                    _link = LABKEY.ActionURL.buildURL("experiment", "showMaterial.view", LABKEY.ActionURL.getContainer(), mainParams);
                    showMsg("Formulation \'" + document.getElementById('Batch').value + "\' already exists.<br/><a href='" + _link + "'>Click here</a> to view it.<br/>", true);
                }
            }});
    }

    var showMsg = function(msg, error)
    {
        var elem = document.getElementById('formulation-entry-report');
        if (msg == "")
            elem.innerHTML = "";
        else if (error)
            elem.innerHTML += "<span style='color: red;'>" + msg + "</span><br/>";
        else
            elem.innerHTML += "<span style='color: #32cd32;'>" + msg + "</span><br/>";
    }

    Ext.onReady(init);

})();

</script>
<div id="formulation-entry-report"></div>
<div id="formulation-entry-div" style="width: 405px;"></div>