<script type="text/javascript">

    LABKEY.requiresClientAPI();

    Ext.onReady(function(){

        /* Initialize the temperature select combo box. */
        function refreshChart(combo, record, index)
        {
            var config = {};

            var tempstr = '5C';   // DEFAULT temperature

            if(combo != null)
            {
                tempstr = combo.getValue();
            }
        }

        /* The following defines the Temperature drop-down selection */
        /* RESOLVE_TEMPERATURES SQL:

         SELECT "Particle Size Data".Properties.StorageTemperature,
         "Particle Size Data".Run.RowId
         FROM "Particle Size Data"
         GROUP BY
         "Particle Size Data".Properties.StorageTemperature,
         "Particle Size Data".Run.RowId
         
         */
        var cbStore = new LABKEY.ext.Store({
            schemaName: 'assay',
            queryName: 'resolveTemperatures',
            filterArray: [LABKEY.Filter.create('RowId',document.getElementById('rowId').value,LABKEY.Filter.Types.EQUAL)]
        });

        var cb = new Ext.form.ComboBox({
            triggerAction: 'all',
            renderTo: 'testsDiv',
            valueField: 'StorageTemperature',
            displayField: 'StorageTemperature',
            autoHeight: true,
            mode: 'remote',
            emptyText: 'Select temperature...',
            lazyInit: true,
            store : cbStore,
            listeners: {
                select : refreshChart
            }
        });

        refreshChart(null, null, null);

    });
</script>
<form>
    <input id="rowId" value="10970"/><br />
</form>
<br/>
<div id="testsDiv"></div>