<script type="text/javascript">
    LABKEY.requiresClientAPI();
    LABKEY.requiresScript("formulations/SearchFormulation.js");
</script>

<form method="get" action="" onsubmit="getRunIdIfUnique(document.getElementById('IdriSearchStr').value.toUpperCase(),document.getElementById('IdriPSAssayName').value); return false;">

<table cols="3">
<tr>
	<td>Name contains:</td>
    <td colspan=1>

     <input type="text" id="IdriSearchStr" name="nameContains" value="" >
     <input type="hidden" id="IdriPSAssayName" name="assayName" value="Particle Size" >

     </td>
    <td colspan=1>
     <input type="submit" style="display: none;" id="IdriSearchSubmit"><a class="labkey-button" href="#" onclick="document.getElementById('SearchStatusDiv').innerHTML = 'Searching...'; getRunIdIfUnique(document.getElementById('IdriSearchStr').value.toUpperCase(),document.getElementById('IdriPSAssayName').value); return false;" ><span>Search</span></a></td>
</tr>

</table>

</form>
<div id="SearchStatusDiv">Search through Raw Materials, Formulations, and Compounds</div>
<div id="SearchStatusDiv2"></div>
<div id="topDiv"></div>
<div id="errorDiv"></div>
<div id="dataRegionDiv" style="float: left;"></div>
<div id="resultsDiv" style="float: left;"></div>
<div id="resultsDiv2" style="float: left;"></div>
<img id="hemoImage" style="display: none" src="" alt="">
<div id="hemoSearch"></div>
<div id="bottomDiv"></div>