<!-- The purpose of this page is to pull files dynamically from a drop down and show the generate graph based on peaks. -->
<!-- See IRSpectra.html in the /views folder for this module. -->
<script type="text/javascript">
    
    function renderReport(cb, rec, idx)
    {
        if (!second)
        {
            // Display the first image.
            var _url = LABKEY.ActionURL.buildURL("_webdav", "%40files/assaydata/" + rec.get("Name") + "_IR.png")
            Ext.Ajax.request({
                url : _url,
                method : 'GET',
                success : function(result, response)
                {
                    var _img = new Image();
                    _img.src = _url;
                    document.getElementById("reportDiv").style.display = "inline";
                    document.getElementById("single-image").style.display = "inline";
                    document.getElementById("single-image").src = _img.src;
                }
            });

            displayDerivedPanel(cb, rec, idx);
            return;
        }
        else
        {
            document.getElementById("single-image").style.display = "none";
        }
        
        var reportDiv = Ext.getCmp('report-panel');
        var lbase = base;
        var recName = rec.get("Name");

        if (reportDiv)
        {
            document.getElementById("reportDiv").style.display = "inline";
            reportDiv.render();

            Ext.getCmp('reset-button').disable();
            reportDiv.getEl().mask("Calculating Comparison...", "x-mask-loading");

            var reportWebPartRenderer = new LABKEY.WebPart({
                partName: 'Report',
                renderTo: 'irReport',
                frame: 'none',
                successCallback: function() {
                    reportDiv.getEl().unmask();
                    Ext.getCmp('reset-button').enable();
                },
                errorCallback : function() {
                    reportDiv.getEl().unmask();
                    Ext.getCmp('reset-button').enable();
                },
                partConfig: {
                    reportId       :'module:idri/schemas/assay/IR Spectra Data/Peaks Graph.r',
                    showSection    :'peaks_png',
                    'nameContains' : lbase + " " + recName
                }});
            reportWebPartRenderer.render();
        }

    }

    function displayDerivedPanel(cb, rec, idx)
    {
        var derivedPanel = Ext.getCmp('derived-panel');
        base = rec.data.Name;

        if (derivedPanel)
        {
            derivedPanel.getEl().mask("loading...");
            document.getElementById('derived-msg').innerHTML = "";
            derivedInternals(base);
        }

        console.info('Checking if derived-panel can be found..');
        if (derivedPanel)
        {
            console.info('Calling update on derived-panel.');
            derivedPanel.getEl().unmask();
        }
        else
            console.info("It cannot.");
    }

    function getComboBox(type)
    {
        var _store = null;
        
        if (type == "mat")
        {
            var _store = new LABKEY.ext.Store({
                schemaName : 'Samples',
                queryName  : 'Raw Materials',
                sortInfo   : { field: 'Name', direction: 'ASC' },
                emptyText  : 'Choose Material'
            });
        }
        else if (type == "form")
        {
            var _store = new LABKEY.ext.Store({
                schemaName : 'Samples',
                queryName  : 'Formulations',
                sortInfo   : { field: 'Name', direction: 'ASC'},
                emptyText  : 'Choose Formulation'
            });
        }
        else if (type == "IR")
        {
            var _store = new LABKEY.ext.Store({
                schemaName : 'assay',
                queryName  : 'IR Spectra Runs',
                emptyText  : 'Choose Material'
            });
        }

        if (_store)
        {
            return new Ext.form.ComboBox({
                store         : _store,
                triggerAction : 'all',
                displayField  : 'Name',
                valueField    : 'Name',
                mode          : 'remote',
                typeAhead     : true,
                autoHeight    : true,
                style         : {
                    margin : "2 0 2 0"
                },
                emptyText     : _store.emptyText,
                listeners     : {
                    select    : renderReport
                }
            });
        }
    }

    function reset()
    {
        init(true);
    }
    
    function derivedInternals(baseMaterialName)
    {
        if (shown)
            return;

        shown = true;
        if (baseMaterialName)
        {
            // This needs to be filtered on the base material chosen.
            var derivedStore = new LABKEY.ext.Store({
                schemaName   : 'exp',
                queryName    : 'derivedSamples',
                filterArray  : [ LABKEY.Filter.create('Name', baseMaterialName, LABKEY.Filter.Types.CONTAINS) ]
            });
            derivedStore.on('load', function(str, recs, opts) {
                masterStore = str;
            });

            var derivedCombo = new Ext.form.ComboBox({
                id            : 'derived-Combo',
                store         : derivedStore,
                displayField  : "Name",
                valueField    : "Name",
                triggerAction : 'all',
                mode          : 'remote',
                typeAhead     : true,
                autoHeight    : true,
                style         : {
                    margin : "2 0 2 0"
                },
                emptyText     : "Choose a derived.",
                listeners     : {
                    select    : function(cb, rec, idx) {
                        second = true;
                        renderReport(cb, rec, idx);
                    }
                }
            });

            var derivedPan = Ext.getCmp('derived-panel');
            if (derivedPan)
            {
                var combobox = getComboBox("IR");
                combobox.removeListener('select', renderReport);
                combobox.addListener('select', function(cb, rec, idx) {
                    second = true;
                    renderReport(cb, rec, idx);
                });
                derivedPan.add(combobox);
                derivedPan.add(derivedCombo);
                derivedPan.doLayout();
            }
        }
    }

    var base;
    var second;
    var shown;
    var masterStore;

    function init(rerender)
    {
        if (rerender)
        {
            Ext.getCmp('head-panel').destroy();
            Ext.getCmp('report-panel').destroy();
        }

        base = "";
        second = false;
        shown = false;
        masterStore = null;
        
        var headPanel = new Ext.Panel({
            id      : 'head-panel',
            layout  : 'table',
            width   : 700,
            layoutConfig: {columns: 2},
            defaults: {
                width: 350,
                height: 120,
                backgroundColor: '#C6D4E6'},
            renderTo: 'headPanelDiv',
            items   : [ new Ext.Panel({
                id    : 'base-panel',
                layout: 'table',
                title : 'Choose Base Spectra',
                items : [
                    getComboBox("IR"),
                    new Ext.Button({
                        id : 'reset-button',
                        text : "Perform another comparison",
                        handler : reset
                    })
                ]
            }), new Ext.Panel({
                id    : 'derived-panel',
                title : 'Choose Derived Spectra',
                html  : "<p id='derived-msg'>Choose a base spectra to compare against.</p>",
                listeners: {
                    afterrender : function(pnl) {
                        console.info("Masking derived panel.");
                        pnl.getEl().mask("Choose a base material");
                    }
                }
            })]
        });

        var reportPanel = new Ext.Panel({
            id      : 'report-panel',
            layout  : 'table',
            width   : 700,
            height  : 300,
            style   : {
                border: "2px solid #808080;",
                overflow : "auto;"
            },
            renderTo: "reportDiv",
            html    : "<img src='' alt='Single Image' id='single-image' style='display: none;'/><div align='center' id='irReport'></div>"
        });
    }

    Ext.onReady(init);

</script>
<div id="headPanelDiv"></div>
<div id='formsCombo'></div>
<div id="reportDiv" style="display: none;"></div>