<script type="text/javascript">
    LABKEY.requiresVisualization();
</script>
<style type="text/css">
    .column {
        display: inline-block;
        vertical-align: top;
        width: 934px;
    }

    .block {
        margin: 5px 0 10px 0;
        padding: 0;
        position: relative;
        background-color: #e5e5e5;
    }

    .blockcontent {
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #ffffff;
        border: 1px solid #d8d8d8;
        border-bottom-width: 2px;
        border-top-width: 0;
        vertical-align: top;
        padding: 3px;

        opacity: 1;
        position: relative;
        visibility: visible;
        z-index: auto;
    }

    .title {
        font: normal 17px Roboto,arial,sans-serif;
    }
    .sub {
        opacity: 0.3;
    }
</style>
<div id="resultDisplay" class="column">
</div>
<script type="text/javascript">

    var CONTEXT = {};

    Ext4.onReady(function() {

        var RUN_ID, ASSAY_ID, BATCH, PIPELINE_CONTAINER;

        var DATA_TPL = new Ext4.XTemplate(
                '<tpl for=".">',
                    '<div class="block">',
                        '<div class="blockcontent">',
                            '<div class="title">{Name}<span class="sub">.{FileExt}</span></div>',
                            '<div><a target="_blank" href="{FilePath}">View File</a></div>',
                            '<br/>',
//                            '<div class="toolbar">',
//                                '<button onclick="loadGraph(this, \'{GraphId}\');">View Chromatogram</button>',
//                            '</div>',
                            '<div id="{GraphId}"></div>',
                            '<div id="{GraphId}-inputs">',
                                '<input type="text" placeholder="xleft" name="xleft" value="{xleft:this.displayValue}"/>',
                                '<input type="text" placeholder="xright" name="xright" value="{xright:this.displayValue}"/>',
                            '</div>',
                            '<br/>',
                            '<div class="toolbar">',
                                '<button onclick="loadGraph(this, \'{GraphId}\');">View Chromatogram</button>',
                                '<button>Verified</button>',
                            '</div>',
                        '</div>',
                    '</div>',
                '</tpl>',
                {
                    displayValue : function(val) {
                        if (parseInt(val) == 0) {
                            return "";
                        }
                        return val;
                    }
                }
        );

        var processRawDataResults = function() {

            //
            // Transform select rows result into a structure the Ext store can accept
            //
            var d = [];
            var runs = BATCH.runs, runIdentifier, run;

            //
            // Find the associated run
            //
            for (var r=0; r < runs.length; r++) {
                if (runs[r].id == RUN_ID) {
                    runIdentifier = runs[r].name;
                    run = runs[r];
                    break;
                }
            }

            for (r=0; r < run.dataRows.length; r++) {
                var name = run.dataRows[r]['Name'].split('.');
                var fileExt = name[1];
                name = name[0];
                var filePath = "";
                var dataFile = run.dataRows[r]['DataFile'];
                filePath = PIPELINE_CONTAINER + "/" + runIdentifier + "/" + dataFile;

                //
                // Link the associated LABKEY.Exp.Data object (the data file)
                //
                var ExpDataRun;
                for (var i=0; i < run.dataInputs.length; i++) {
                    if (run.dataInputs[i].name == dataFile) {
                        ExpDataRun = run.dataInputs[i];
                    }
                }

                d.push([name, fileExt, run.dataRows[r]['RowId'], filePath, ExpDataRun, Ext4.id()]);
            }

            var store = Ext4.create('Ext.data.ArrayStore', {
                fields: [
                    {name: 'Name'},
                    {name: 'FileExt'},
                    {name: 'RowId', type: 'int'},
                    {name: 'FilePath'},
                    {name: 'ExpDataRun'},
                    {name: 'GraphId'},
                    {name: 'xleft', type: 'int', defaultValue: 0},
                    {name: 'xright', type: 'int', defaultValue: 0}
                ],
                data: d
            });

            SS = store;

            var view = Ext4.create('Ext.view.View', {
                renderTo: 'resultDisplay',
                tpl: DATA_TPL,
                itemSelector: 'div.block',
                store: store
            });
        };

        //
        // Get the selected assay runs
        //
        var selectionKey = LABKEY.ActionURL.getParameter('selectionKey');
        LABKEY.DataRegion.getSelected({
            selectionKey: selectionKey,
            success: function(selectionResponse) {
                var selected = selectionResponse.selected; // array

                if (selected.length != 1) {
                    alert('Can only process 1 run at a time currently. Please return to runs grid and select one run.');
                    return;
                }

                RUN_ID = selected[0];

                var process = function() {
                    if (BATCH && PIPELINE_CONTAINER) {
                        processRawDataResults();
                    }
                };

                //
                // Get the associated HPLC configuration
                //
                Ext4.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('idri', 'getHPLCPipelineContainer.api'),
                    success: function(response) {
                        var data = Ext4.decode(response.responseText);
                        PIPELINE_CONTAINER = data.webDavURL;
                        process();
                    }
                });

                var preprocess = function() {
                    if (CONTEXT.AssayDefinition && CONTEXT.RunDefinition) {
                        //
                        // Load the expected batch/run
                        //
                        var batchConfig = {
                            assayId: CONTEXT.AssayDefinition.id,
                            batchId: CONTEXT.RunDefinition.Batch.value,
                            success: function(RunGroup) {
                                BATCH = RunGroup;
                                process();
                            }
                        };

                        LABKEY.Experiment.loadBatch(batchConfig);
                    }
                };

                //
                // Get the associated Assay information
                //
                LABKEY.Assay.getByType({
                    type: 'Provisional HPLC',
                    success: function(defs) {
                        CONTEXT.AssayDefinition = defs[0];
                        preprocess();
                    }
                });

                //
                // Get the associated Batch information
                //
                LABKEY.Query.selectRows({
                    schemaName: LABKEY.ActionURL.getParameter('schemaName'),
                    queryName: LABKEY.ActionURL.getParameter('queryName'),
                    requiredVersion: 13.2,
                    filterArray: [
                        LABKEY.Filter.create('RowId', RUN_ID)
                    ],
                    success: function(data) {
                        CONTEXT.RunDefinition = data.rows[0]; // LABKEY.Query.Row
                        preprocess();
                    }
                });
            }
        });
    });

    var renderPlot = function(fileContent, targetId, btn, model) {
        MM = model;
        var _data = fileContent.sheets[0].data;
        _data.shift(); // get rid of column headers
        var newData = [];

        var xLeft = model.get('xleft');
        var xRight = model.get('xright');
        console.log(xLeft, xRight);

        for (var d=0; d < _data.length; d++) {
            var xy = _data[d][0].split(' ');
            xy[0] = parseFloat(xy[0]);
            xy[1] = parseFloat(xy[1]);

            if (xLeft > 0 || xRight > 0) {
                if (xy[0] > xLeft && xy[0] < xRight) {
                    if (d%2 == 0)
                        newData.push(xy);
                }
            }
            else {
                if (d%2 == 0)
                    newData.push(xy);
            }
        }
        var data = newData;
        console.log('data length:', data.length);
        DD = _data;

        //
        // Create the point layer
        //
        var pointLayer = new LABKEY.vis.Layer({
            data: data,
//            geom: new LABKEY.vis.Geom.Point({
//                size: 1,
//                color: '#ff0000'
//            }),
            aes: {
                x: function(r) { return r[0]; },
                y: function(r) { return r[1]; }
            },
            geom: new LABKEY.vis.Geom.Path({
                color: '#ff0000'
            })
        });

        var plot = new LABKEY.vis.Plot({
            renderTo: targetId,
            rendererType: 'd3',
            width: 750,
            height: 500,
            clipRect: false,
            margins: {top: 10},
            layers: [ pointLayer ],
            legendPos: 'none'
//            scales: {
//                y: {
//                    domain: [0, 1200]
//                }
//            }
        });

        try {
            plot.render();
        }
        catch(err) {
            alert('Plot Failed.');
        }
    };

    var loadGraph = function(btn, graphId) {

        var b = Ext4.get(btn);
//        b.update('Rendering...');
        B = b;

        var idx = SS.findExact('GraphId', graphId);

        //
        // Load the data record for one
        //
        var sample = SS.getAt(idx);
        var sampleData = sample.get('ExpDataRun');

        if (sampleData) {

            //
            // load other values from form
            //
            var xleft = parseInt(b.up('.blockcontent').down('input[name=xleft]').getValue());
            if (Ext4.isNumeric(xleft))
                sample.set('xleft', xleft);
            var xright = parseInt(b.up('.blockcontent').down('input[name=xright]').getValue());
            if (Ext4.isNumeric(xright))
                sample.set('xright', xright);

            var config = {
                format: 'jsonTSV',
                success: function(content) {
                    renderPlot(content, graphId, b, sample);
                },
                failure: function(error) {
                    alert('Failed to Load File Contents');
                }
            };

            sampleData.getContent(config);
        }
    }

</script>