<style>
    #particlesize-drop {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 934px;
        height: 200px;
        background-color: white;
        border: 1px solid #a9a9a9;
    }
</style>

<p>Particle Size Data Constraints</p>
<ol>
    <li>Must have working sets of size (3).</li>
    <li>Maximal (3) working sets per time/machine.</li>
    <li>pdI value for each entry must be less than 1.0.</li>
    <li>Z-Average value for each entry must be greater than or equal to 1.0 nm.</li>
</ol>

<div id="uploadTextDiv">Upload an IDRI Excel file containing particle size data.</div>

<div id='runs_div'></div>
<table>
    <tr>
        <td><div id="aps-report-div"></div></td>
        <td><div id="nano-report-div"></div> </td>
    </tr>
</table>

<div id="upload-run-form"></div>
<div id="particlesize-drop"></div>