<style type="text/css">

</style>
<div id="provisional-input"></div>
<!--<div>-->
    <!--<form>-->
        <!--<div id="hplc-target-assay"></div>-->
        <!--<div id="hplc-upload-content"></div>-->
        <!--<div id="hplc-run-content"></div>-->
    <!--</form>-->
<!--</div>-->
<script type="text/javascript">
    LABKEY.requiresExt4Sandbox();
</script>
<script type="text/javascript">

(function(){

    var Assay = {};

    var init = function() {

        var record = {
            targetAssay: 'HPLC',
            runs: [{
                name: 'A197',
                rowId: 1
            },{
                name: 'B202',
                rowId: 2
            }]
        };

        writeForm(record);
    };

    var writeForm = function(record) {
        var tpl = new Ext4.XTemplate(
            '<table>',
                '<tr>',
                    '<td class="labkey-form-label">Target Assay</td>',
                    '<td>{targetAssay}</td>',
                '</tr>',
                '<tr>',
                    '<td class="labkey-form-label">Target Run</td>',
                    '<td id="targetruns">',
                        '<select>',
                            '<tpl for="runs">',
                                '<option value="{rowId}">{name}</option>',
                            '</tpl>',
                        '</select>',
                    '</td>',
                '</tr>',
            '</table>'
        );
        tpl.overwrite('provisional-input', record);
        attachListeners();
    };

    var attachListeners = function() {
        var el = Ext4.DomQuery.select('#targetruns select');
        Ext4.get(el[0]).on('change', onRunChange);
    };

    var onRunChange = function(evt, el) {
        requestResults(Ext4.get(el).getValue(), processResults);
    };

    /**
     * Requests the set of Assay results from the target Assay given a run rowId.
     * Assumes that the 'Assay' object has already been constructed and intialized
     * @param runRowId
     */
    var requestResults = function(runRowId, callback) {

        if (Ext4.isString(runRowId))
            runRowId = parseInt(runRowId);

        if (!runRowId || !Ext4.isNumber(runRowId)) {
            console.error('The value \'' + runRowId + '\' is not a valid result identifier.');
            return;
        }

        var design = Assay['design'];

        var config = {
            schemaName: design.protocolSchemaName,
            queryName: 'Data',
            requiredVersion: 9.1,
            filterArray: [
                new LABKEY.Query.Filter('Run/RowId', runRowId)
            ],
            success: callback,
            failure: function() { console.error('failed to load results', assayDesign.protocolSchemaName + ":" + runRowId); }
        };

        LABKEY.Query.selectRows(config);
    };

    var processResults = function(results) {
        console.log('results');
    };

    Ext4.onReady(init);
})();

//(function() {
//
//    var Assay = {};
//
//    var init = function() {
//
//        var id = LABKEY.ActionURL.getParameter('rowId');
//
//        if (!id) {
//            console.error('RowId (rowId) not provided for source Assay.');
//            return;
//        }
//
//        // 1. Initialize the Assay
//        // 2. Initialize Assay runs
//        initAssay(id, function(design) {
//            Assay['design'] = design;
//
//            initRuns(Assay['design'], function(runs) {
//
//                Assay['runs'] = runs;
//
//                // Ready
//                initApp(Assay);
//            });
//        });
//    };
//
//    var initApp = function(assay) {
//
//        // Define Assay Model
//        Ext4.define('HPLC.Assay', {
//            extend: 'Ext.data.Model',
//            fields: [
//                { name: 'id', type: 'int' },
//                { name: 'name' },
//                { name: 'containerPath' }
//            ]
//        });
//
//        Ext4.create('Ext.data.ArrayStore', {
//            id: 'targetAssay',
//            model: 'HPLC.Assay'
//        });
//
//        initTargetAssay('targetAssay');
//
//        var targetTpl = new Ext4.XTemplate(
//                '<label for="assayname">Target Assay</label>',
//                '<select id="assayname" name="assayname">',
//                '<tpl for=".">',
//                '<option>{name}</option>',
//                '</tpl>',
//                '</select>'
//        );
//
//        Ext4.create('Ext.view.View', {
//            renderTo: 'hplc-target-assay',
//            store: Ext4.data.StoreManager.lookup('targetAssay'),
//            tpl: targetTpl,
//            itemSelector: 'option',
//            emptyText: 'No assays available',
//            listeners: {
//                viewready: function(v) {
//                    var select = Ext4.get(Ext4.DomQuery.select('select', v.getEl().id)[0]);
//
//                    if (!select) {
//                        console.error('unable to configure run selection.');
//                        return;
//                    }
//
//                    select.on('change', onRunSelect, v);
//                },
//                selectionchange: function(selModel, sels) {
//                    console.log('here');
//                    console.log(sels);
//                }
//            }
//        });
//
//        // Define Run Model
//        Ext4.define('HPLC.Run', {
//            extend: 'Ext.data.Model',
//            fields: [
//                { name: 'RowId', type: 'int' },
//                { name: 'Name', type: 'string' }
//            ]
//        });
//
//        Ext4.create('Ext.data.Store', {
//            id: 'targetRun',
//            model: 'HPLC.Run',
//            data: assay.runs
//        });
//
//        var selectTpl = new Ext4.XTemplate(
//                '<label for="assayname">Choose Run</label>',
//                '<select id="assayname" name="assayname">',
//                '<tpl for=".">',
//                '<option>{Name}</option>',
//                '</tpl>',
//                '</select>'
//        );
//
//        Ext4.create('Ext.view.View', {
//            renderTo: 'hplc-upload-content',
//            store: Ext4.data.StoreManager.lookup('targetRun'),
//            tpl: selectTpl,
//            itemSelector: 'option',
//            emptyText: 'No runs available',
//            listeners: {
//                viewready: function(v) {
//                    var select = Ext4.get(Ext4.DomQuery.select('select', v.getEl().id)[0]);
//
//                    if (!select) {
//                        console.error('unable to configure run selection.');
//                        return;
//                    }
//
//                    select.on('change', onRunSelect, v);
//                },
//                selectionchange: function(selModel, sels) {
//                    console.log('here');
//                    console.log(sels);
//                }
//            }
//        });
//
//        Ext4.define('HPLC.Target.Run', {
//            extend: 'Ext.data.Model',
//            fields: [
//                { name: 'name' },
//                { name: 'type' },
//                { name: 'formulation' },
//                { name: 'concentration', type: 'int' }
//            ]
//        });
//
//        Ext4.create('Ext.data.ArrayStore', {
//            id: 'targetItem',
//            model: 'HPLC.Target.Run',
//            data: [],
//            listeners: {
//                load: function() { console.log('target run association'); }
//            }
//        });
//
//        var targetItemTpl = new Ext4.XTemplate(
//                '<tpl for=".">',
//                '<span>{name}</span>',
//                '</tpl>'
//        );
//
//        Ext4.create('Ext.view.View', {
//            id: 'boom',
//            renderTo: 'hplc-run-content',
//            store: Ext4.data.StoreManager.lookup('targetItem'),
//            tpl: targetItemTpl,
//            itemSelector: 'span'
//        });
//    };
//
//    var initAssay = function(rowId, callback) {
//        LABKEY.Assay.getById({
//            id: rowId,
//            success: function(assayDesigns) {
//
//                if (!Ext4.isArray(assayDesigns)) {
//                    console.error('Invalid Assay Design result', assayDesigns);
//                    return;
//                }
//
//                if (assayDesigns.length == 0) {
//                    console.error('Unable to find assay', rowId);
//                }
//
//                var design = assayDesigns[0];
//
//                callback.call(this, design);
//            },
//            failure: function() { console.error('failed to load assay', rowId); }
//        });
//    };
//
//    /**
//     * Takes a LABKEY.Assay.AssayDesign and returns the set of runs to the callback.
//     * @param assayDesign
//     * @param callback
//     */
//    var initRuns = function(assayDesign, callback) {
//        LABKEY.Query.selectRows({
//            schemaName: assayDesign.protocolSchemaName,
//            queryName: 'Runs',
////                filterArray: [
////                    new LABKEY.Query.Filter('Published', false) //, LABKEY.Filter.Types.NOT_EQUAL)
////                ],
//            success: function(data) {
//                if (callback) { callback.call(this, data.rows); }
//            },
//            failure: function() { console.error('failed to load runs', assayDesign.protocolSchemaName); }
//        });
//    };
//
//
//    /**
//     * Takes an instantiated Ext.data.Store id and loads the set of target assays available
//     * @param storeId
//     */
//    var initTargetAssay = function(storeId) {
//
//        if (storeId) {
//            LABKEY.Assay.getByType({
//                type: 'HPLC',
//                success: function(targetAssays) {
//                    var store = Ext4.data.StoreManager.lookup(storeId);
//                    if (store) {
//                        store.loadData(targetAssays);
//                    }
//                }
//            });
//        }
//    };
//
//    /**
//     * Requests the set of Assay results from the target Assay given a run rowId.
//     * Assumes that the 'Assay' object has already been constructed and intialized
//     * @param runRowId
//     */
//    var requestResults = function(runRowId, callback) {
//
//        if (!runRowId || !Ext4.isNumber(runRowId)) {
//            console.error('The value \'' + runRowId + '\' is not a valid result identifier.');
//            return;
//        }
//
//        var design = Assay['design'];
//
//        var config = {
//            schemaName: design.protocolSchemaName,
//            queryName: 'Data',
//            requiredVersion: 9.1,
//            filterArray: [
//                new LABKEY.Query.Filter('Run/RowId', runRowId)
//            ],
//            success: callback,
//            failure: function() { console.error('failed to load results', assayDesign.protocolSchemaName + ":" + runRowId); }
//        };
//
//        LABKEY.Query.selectRows(config);
//    };
//
//    /**
//     * Can process
//     * @param data
//     */
//    var processResults = function(data) {
//
//        var results = [], r = data.rows;
//
//        for (var i=0; i < r.length; i++) {
//            results.push({
//                name: r[i].Name.value,
//                type: 'standard',
//                formulation: '',
//                concentration: 0
//            });
//        }
//
//        console.log('here we go');
//        var store = Ext4.data.StoreManager.lookup('targetItem');
//        store.loadData(results);
//    };
//
//    /* --- Events --- */
//
//    // Scope: Ext.view.View object of Run selection
//    var onRunSelect = function(evt, el) {
//
//        var store = this.getStore();
//        var model = store.getAt(store.find('Name', el.value));
//
//        if (model) {
//            requestResults(model.data.RowId, processResults);
//        }
//    };
//
//    Ext4.onReady(init);
//});
</script>