<div id="provisional-input"></div>
<script type="text/javascript">

(function(){

    //
    // Set of constants supplying the current upload context
    //
    var Context = {
        schemaName: LABKEY.ActionURL.getParameter('schemaName'),
        queryName: LABKEY.ActionURL.getParameter('queryName'),
        selectionKey: LABKEY.ActionURL.getParameter('selectionKey'),
        RunId: -1
    };

    var init = function() {

        //
        // Lookup the selected run based on 'selectionKey' URL parameter
        //
        LABKEY.DataRegion.getSelected({
            selectionKey: Context.selectionKey,
            success: function(selection) {
                Context.RunId = selection[0]; // get the row id of the selected run
            }
        });
    };

    Ext4.onReady(init);
})();
</script>