<style type="text/css">
    .donor-known {
        background-color: #f5f5f5;
        height: 24px;
        width: 134px;
    }
</style>
<script type="text/javascript">
    LABKEY.requiresScript("formulations/HemolysisPanel.js");
</script>
<div id="formSelect"></div>
<img id="batchImage" style="display: none" src="" alt="">
<br/>
<hr>
<div id="hemoPanel"></div>
<script type="text/javascript">


    var _storeData = [];
    
    function init()
    {
        function generateCombo()
        {
            var LotCombo = new Ext.form.ComboBox({
                renderTo      : 'formSelect',
                id            : 'LotNumber_field',
                listeners     : {
                    change : function(field, newValue, oldValue)
                    {
                        setLotNumber(field, newValue);
                    },
                    render : function(combobox)
                    {
                        // Allows you to use the url to set the page as well.
                        var lotNumber = LABKEY.ActionURL.getParameter('Lot');
                        if (lotNumber)
                        {
                            lotNumber = lotNumber.toUpperCase();
                            for (var i = 0; i < _storeData.length; i++)
                            {
                                for (var j = 0; j < _storeData[i].length; j++)
                                {
                                    if (_storeData[i][j] == lotNumber)
                                    {
                                        combobox.setValue(lotNumber);
                                        setLotNumber(null, lotNumber);
                                    }
                                }
                            }
                        }
                    }
                },
                store         : new Ext.data.SimpleStore({
                    storeId    : 'materialStore',
                    fields     : ['Name'],
                    data       : _storeData
                }),
                selectOnFocus : true,
                triggerAction : 'all',
                displayField  : 'Name',
                valueField    : 'Name',
                mode          : 'local',
                emptyText     : _store.emptyText,
                forceSelection: true,
                lazyInit      : false
            });
        }

        var _store = new LABKEY.ext.Store({
            schemaName : 'Samples',
            queryName  : 'Formulations',
            sort       : '-Name',
            emptyText  : 'Choose Formulation'
        });

        document.getElementById('formSelect').innerHTML = "Loading...";
        _store.load({
            callback : function(records, options, success)
            {
                if (success)
                {
                    _storeData = [];
                    document.getElementById('formSelect').innerHTML = "";
                    for (var i = 0; i < records.length; i++)
                    {
                        var rec = [];
                        rec.push(records[i].data.Name);
                        _storeData.push(rec);
                    }
                    generateCombo();
                }
            }
        });
    }

    function setLotNumber(field, newName)
    {
        if (newName.length)
        {
            // This will retrieve the batch for ones that already exist.
            LABKEY.Query.selectRows({
                schemaName : 'assay',
                queryName  : LABKEY.page.assay.name + ' Runs',
                filterArray: [ LABKEY.Filter.create("Name", newName) ],
                columns    : [ "Batch/RowId"],
                successCallback : function(data, opts, response)
                {
                    if (data.rows && data.rows.length > 0)
                    {
                        var existingBatchId = data.rows[0]["Batch/RowId"];

                        LABKEY.Experiment.loadBatch({
                            assayId : LABKEY.page.assay.id,
                            batchId : existingBatchId,
                            successCallback : function(batch, response)
                            {
                                LABKEY.page.batch = batch;
                                psuedoRender(false);
                            },
                            errorCallback : function(response)
                            {
                                console.info("Something weird happened...");
                            }
                        });
                    }
                    else
                    {
                        LABKEY.page.batch = {}; // create a new batch
                        psuedoRender(true);
                    }
                },
                failureCallback : function(error, opts, response)
                {
                    console.info("Actually failed.");
                }
            });
        }
    }
    
    function psuedoRender(isNewBatch)
    {
        var img = document.getElementById('batchImage');
        img.src = "";
        img.alt = "";
        img.height = 0;
        img.width = 0;
        img.style.display = "none";
        
        var elem = document.getElementById('hemoPanel');
        elem.innerHTML = "";
        if (!isNewBatch)
        {
            new LABKEY.hemolysis.HemolysisPanel({
                renderTo : 'hemoPanel',
                graphTo  : 'batchImage',
                id       : 'hemo-panel',
                frame    : false,
                formulation : LABKEY.page.batch.runs[0].name,
                donorInfo: LABKEY.page.batch.runs[0].dataRows
            });
        }
        else
        {
            console.info('This is a new assay result.');
            new LABKEY.hemolysis.HemolysisPanel({
                renderTo  : 'hemoPanel',
                graphTo   : 'batchImage',
                id        : 'hemo-panel',
                frame     : false
            });
        }
    }
    
    Ext.onReady(init);
</script>